@using Boilerplate.Domain.Entities
@model DefaultModel
    
@Html.Raw(Model.Content)

<p><b>Date:</b> @DateTime.Now</p>
@if (Model != null & Model.Data != null)
{
    foreach (KeyValuePair<string, string> dictValue in Model.Data)
    {
        <p><b>@dictValue.Key:</b> @dictValue.Value</p>
    }
}

